.btn {
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  border-radius: 8px;
  color: white;
  padding: 16px 12px;
  border: 1px solid var(--neutral300);
  transition: transform 0.2s;
  cursor: pointer;
  background-color: white;
  color: var(--neutral950);

  &:hover {
    transform: scale(1.02);
    background-color: var(--blue700);
  }
}

.btnPrimary {
  background-color: var(--primary);
  color: white;
  border: none;
}

.secondaryBtn {
  font-weight: 500;
  letter-spacing: 0.5px;
  gap: 16px;

  &:hover {
    background-color: white;
  }
}
