.container {
  font-family: var(--inter-mono);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  //   display: grid;
  //   grid-template-columns: 1fr 2fr 1fr;
  //   grid-template-columns: repeat(12, 70px);
  //   grid-template-rows: 1fr 2fr 1fr;
  //   gap: 24px;
  //   place-self: center;
  min-height: 100vh;

  hr {
    border: 1px solid var(--neutral200);
  }
}

.card {
  border-radius: 12px;
  background-color: white;
  padding: 48px;
  display: grid;
  gap: 16px;
  align-items: center;
  max-height: auto;
  max-width: 540px;
  width: 100%;
  border: 1px solid var(--neutral200);
  //   grid-column-start: 4;
  //   grid-column-end: 10;
  //   grid-row-start: 2;

  > img {
    width: 100%;
  }
}

.header {
  text-align: center;
  padding-bottom: 24px;

  > h1 {
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.5px;
    font-size: 24px;
    margin-bottom: 8px;
  }

  > p {
    line-height: 130%;
    letter-spacing: -0.2px;
    color: #525866;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 24px;
}

.substitute {
  text-align: center;
  padding-top: 24px;

  > p {
    color: var(--neutral600);
    line-height: 130%;
    margin-bottom: 16px;
  }
}

.signUp {
  text-align: center;
  color: var(--neutral600);
  line-height: 130%;
  letter-spacing: -0.2px;

  > a {
    color: var(--neutral950);
  }
}

@media (max-width: 767px) {
  .container {
    padding: 10px 16px;
  }
  .card {
    padding: 40px 16px;
  }
}
